<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Local Bakery open 7am - 3pm, closed Tuesdays">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" src="./output.css">
</head>
<body>
    <nav id="navbar" class="navbar">
        <div class="image-wrapper">
            <img id="nav-logo" class="nav__logo" alt="company logo"/>
        </div>
        <div class="navbar__links-container">
            <div class="navbar__links">
                <a class="nav__item" href="#" >Home</a>
                <a class="nav__item" href="#" >Menu</a>
                <a class="nav__item" href="#">About</a>
                <a class="nav__item" href="#">Contact</a>
                <button class="button bg-pink my-auto text-2xl">Order Online</button>
            </div>
            <div id="navbar-menu" class="my-auto" style="display: none">
                <!-- Hamburger -->
                <svg id="menu-hamburger" style="display: block" width="40" height="40" viewBox="0 0 100 80" fill="white">
                    <rect width="100" height="15" ry="5" rx="5"></rect>
                    <rect y="30" width="100" height="15" ry="5" rx="5"></rect>
                    <rect y="60" width="100" height="15" ry="5" rx="5"></rect>
                  </svg>
                
                <!-- X -->
                  <svg id="menu-cross"style="display: none" width="40" height="40" viewBox="0 0 100 100" fill="white">
                    <rect x="10" y="45" width="80" height="10" transform="rotate(45 50 50)" rx="5" ry="5"></rect>
                    <rect x="10" y="45" width="80" height="10" transform="rotate(-45 50 50)" rx="5" ry="5"></rect>
                  </svg>
            </div>
        </div>
    </nav>
    
    <main>
        <section id="hero">

        </section>

        <section id="announcement">

        </section>

        <section id="carousel">

        </section>

        <section id="blog-post">

        </section>

        <section id="instagram" class="instagram">

        </section>

        <section id="spotlight">

        </section>

        <section id="reviews">

        </section>

        <section id="map">

        </section>
    </main>

    <footer id="footer">

    </footer>
    
    <script>

    </script>
</body>
</html>